In [1]:
#operators in python:used to perform operations on variables and values
#arithmetic
#assignment
#comparison
#logical
#membership
#identity

4+5

var1=23
var2=3

print(var1-var2)

20

In [2]:
#arithmetic operator: to perform mathematical calculations like +,-,*,/,%,**,//

x=10
y=3

print(x+y)  #add
print(x-y) #subtract
print(x*y) #multiply
print(x/y) #divide: float division
print(x%y) #give remainder
print(x**y) #exponential

13
7
30
3.3333333333333335
1
1000

In [3]:
print(10%3) # -> will give remainder when i divide 10 by 3

1

In [4]:
a = 21
b = 6
c= a/b
d= a%b

print(c)
print(d)

3.5
3

In [1]:
a = 10
b = 3
c = a/b
d=format(c,'.3f')
print(d)
print(a/b)  #float division
print(a//b) #int division, floor division (round of to least)

3.333
3.3333333333333335
3

In [9]:
a = 18
b = 4
print(a/b)
print(a//b)
print(a%b)

4.5
4
2

In [12]:
#assignment operators: =,+=,-=,*=,/=
a=90
b=0
# b=b+10 : b+=10

c=1
c+=3
print(c)

4

In [19]:
a = 30

a += 4
print(a)

a -=4
print(a)

a *=2
print(a)

a /= 2
print(a)

a %= 2
print(a)

34
30
60
30.0
0.0

In [20]:
#comparison operatots: ==, >=,<=,<,>,!=
a=90
b=8

print(a==b)
print(a<=b)
print(a>b)
print(a!=b)

False
False
True
True

In [22]:
# logical operators: and, or, not
x= 9
print(x<10 or x>100)
print(x<10 and x>100)
print(not(x<10 or x>100))

True
False
False

In [26]:
#identity operators: is , is not

x=[1,2,3]
y=[1,2,3]
z=x

print(x in y)#will give false because memory location is not same
print(x == y)
print(x is z)
print(x is not z)

False
True
True
False

In [42]:
#membership operator:in, not in

x=[1,2,3,'banana','orange']
print('orange' in x)
print('orange' not in x)

True
False

In [43]:
#conditional statement
#if


a = 10000
if a>5000:
    print('you can go shopping')
    print('please go')

you can go shopping
please go

In [44]:
#if - else

a = 10000
if a>5000:
        print('you can go shopping')
else:
     print ('can\'t go')

you can go shopping

In [45]:
#escape characters:
print('Can\'t go')

Can't go

In [46]:
#elif (else if)

a = 20
if a<10:
  print('condition 1 true')
elif a<30:
  print('condition 2 true')
elif a==20:
  print('equal')
else:
  print('none true')


#if one condition is true, it will execute that part and will stop there

condition 2 true

In [47]:
#nested if else

#1. number shall be positive
#2. if it is positive, number shall be greater than 9 ->print true else print not greater than 9
#3. if number is negative print negative
a=-8
if (a>0):
  if (a<-7):
    print('true')
  else:
    print('not greater than 9 but positive')
else:
  print('negative')

negative

In [48]:
#loops: while loop, for loop

i=10
while i>0:
  print(i)
  i-=1 #i=i-1

10
9
8
7
6
5
4
3
2
1

In [49]:
# taking input from user


# var1=int(input('enter a number: '))
# print(var1)

var1=5
while var1==5:
  print('equal')
  var1-=1 #commenting it will lead to infinite loop

equal

In [56]:
list1 = ['Item1', 'Item2',3,4,5,6,7,8,9]
for x in list1:
    print(x)

Item1
Item2
3
4
5
6
7
8
9

In [57]:
 
for i in range(0,11):
    print(i)
    
    #range is a function that gives you a particular range(values) like for range(0,5)-> values 0,1,2,3,4

0
1
2
3
4
5
6
7
8
9
10

In [59]:
#function: a block of code that can be reused again and again(increases code reusability)

#syntax:

# def func_name():
#   expression

# func_name() #calling the function

In [61]:
#to check if a number is even or odd
#logic: anything that on division with 2 gives 0 remainder is even number and vice-versa

num = int(input('enter a number to check : '))

if (num%2==0):
    print('even number')
else:
    print('odd number')

enter a number to check : 16
even number

In [62]:
#using function odd even

def even_odd(num):
  if (num%2==0):
    print('even number')
  else:
    print('odd number')

even_odd(46)
even_odd(11)
even_odd(43)

even number
odd number
odd number

In [63]:
def printname(name1,name2):
    print(name1,name2)
    
printname('Virnda', 'Rachita')

Virnda Rachita

In [65]:
#lambda function: one line function, anonymous function
#syntax
# lambda argument:expression

                        ### this code in one line using lambda function
# def even_odd(num):
#   if (num%2==0):
#     print('even number')
#   else:
#     print('odd number')

# even_odd(46)

result = lambda x:'Even' if x%2==0 else 'odd'
print(result(90))

Even

In [3]:
# write a lambd function to print sum of two numbers

x = lambda a,b : a+b
print(x(1,2))
print(x('stringone', 'stringtwo'))

3
stringonestringtwo

In [2]:
def sum(a,b):
    print(a+b)
    
sum(1,2)

3

In [1]:
import numpy as np
arr=np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [2]:
arr[arr%2==1]=-1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [6]:
a='Ophthalmology'

count=0

for i in a:
    count=count+1
    
print(count)

13

In [5]:
# write a lamba function to print sum of the numbers
x=lambda a,b,c : a+b+c
print(x(3,4,5))

12

In [9]:
# write a lamba function to print the numbers is even or odd
result = lambda var1: 'Even' if var1%2 == 0 else 'Odd'
print(result(40))
print(result(403))

Even
Odd

In [12]:
result = lambda var1:var1
print(result(40))

40